.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-form h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.login-form button:hover {
  background-color: #0056b3;
}

.form-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.form-help .remember {
  display: flex;
  align-items: center;
}

.form-help input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-help p {
  margin: 0;
  color: #007bff;
  cursor: pointer;
}

.form-help p:hover {
  text-decoration: underline;
}

.form-switch {
  margin-top: 1.5rem;
  text-align: center;
}

.form-switch p {
  color: #333;
  margin: 0;
  font-size: 0.875rem;
}

.form-switch span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.form-switch span:hover {
  text-decoration: underline;
}
label{
  color: #333;
}
/* Spinner style */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey border */
  border-left: 4px solid #007bff; /* Blue spinner color */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite; /* Spin animation */
  margin-top: 10px;
}

/* Keyframes for spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Optional: Style for error message */
.error-message {
  color: #dc3545; /* Red color for error messages */
  font-size: 14px;
  margin-top: 10px;
}
